<%- include("partials/head") %> 
  <body>
      <div class="main-content">
<%- include("partials/header") %> 
<p>Use this site to get weather</p>
      </div>
<%- include("partials/footer") %> 
  </body>
</html>